/* Par défaut */
html, body {
    background-color: #333333;
    color: white;
    text-align: center;
}

/* Contenu en-dessous de la navbar */
.content {
    min-height: 100vh;
    margin-left: 2%;
    margin-right: 2%;
}

/* Logo (la seule image) */
img {
    object-fit: scale-down;
    max-height: 50px;
}

/* Pour les écrans d'iPhone 6, 7 et X */
@media only screen and (max-width: 500px) {
    img {
        object-fit: scale-down;
        max-height: 40px;
    }
}

/* Pour les écrans encore plus petits */
@media only screen and (max-width: 375px) {
    img {
        object-fit: scale-down;
        max-height: 20px;
    }
}